/* -----------------------------------
🎨 THEME VARIABLES (Manual CSS version)
----------------------------------- */

/* Branding Colors */
:root {
  --brand-blue: #0056ff;
  --brand-red: #ff0000;
  --brand-yellow: #ffd200;
  --brand-white: #ffffff;
  --brand-black: #000000;
  --brand-gray: #f5f5f5;

  --hover-blue:#0343c2;
  --hover-white: #d8e9ff;

  /* Status Colors */
  --success-bg: #34C759;
  --success-subdued: #CFF8D8;
  --danger-bg: #ff0000;
  --danger-subdued: #FFD6D6;
  --warning-bg: #ffd200;
  --warning-subdued: #FFF5CC;
  --inverted-bg: #ffffff;
  --inverted-subdued: #f5f5f5;

  /* Callout Text Colors */
  --success-text: #0F8F2F;
  --danger-text: #AA0000;
  --warning-text: #856404;
  --inverted-text: var(--brand-blue);

  /* Typography Sizes */
  --font-h1: 66px;
  --font-h2: 56px;
  --font-h3: 46px;
  --font-h4: 36px;
  --font-h5: 26px;
  --font-h6: 22px;
  --font-p1: 20px;
  --font-p2: 18px;
  --font-p3: 16px;

  --font-regular: 400;
  --font-medium: 500;

  --font-family: 'Poppins', sans-serif;
}

/* --------------
🔘 BUTTONS (CSS)
-------------- */

/* General */
.btn-primary,
.btn-secondary, 
.btn-tertiary {
  padding: 1rem 4.25rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: var(--font-p3);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* BTN-1: Primary */
.btn-primary {
  background-color: var(--brand-blue);
  color: var(--brand-white);
}

.btn-primary:hover {
  background-color: var(--hover-blue);
}

/* BTN-2: Secondary */
.btn-secondary {
  background-color: var(--brand-white);
  color: var(--brand-blue);
}

.btn-secondary:hover {
  background-color: var(--hover-white);
}

/* BTN-3: Tertiary*/
.btn-tertiary {
  background-color: var(--brand-white);
  border: 2px solid var(--brand-blue);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: var(--font-p3);
}

.btn-tertiary:hover {
  background-color: var(--hover-white);
}
