/* -----------------------------------
🧠 Services Section Styling
----------------------------------- */

.services-section {
  padding: 40px 40px;
  background-color: var(--brand-white);
  text-align: center;
  font-family: var(--font-family);
}

.services-section h6 {
  font-size: var(--font-p3);
  font-weight: var(--font-medium);
  color: var(--brand-black);
  padding: 0px 0px 10px 0px;
}

.services-section h2 {
  font-size: var(--font-h2);
  color: var(--brand-blue);
  font-weight: var(--font-medium);
  padding: 0px 0px 10px 0px;
}

.service-desc-1 {
  font-size: var(--font-p3);
  color: var(--brand-black);
  padding: 0px 0px 40px 0px;
}


/* Cards Container */
.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 40px 0px 40px 0px;
}

/* Individual Card */
.service-card {
  background-color: var(--brand-white);
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  padding: 25px 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.service-icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--brand-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-light-blue);
}

.service-icon img {
  width: 38px;
  height: 38px;
}

.service-title {
  font-size: var(--font-p1);
  font-weight: var(--font-medium);
  color: var(--brand-blue);
  padding: 10px 10px;
}

.service-desc-2 {
  font-size: var(--font-p3);
  color: var(--brand-black);
  padding: 0 10px;
  
}
