/* ---------
🔰 ADS BANNER
---------- */

.ads-banner {
  border-radius: 20px;
  padding: 80px 20px;
  color: white;
  text-align: center;
  margin: 5rem 40px;
  overflow: hidden;
}


.ads-banner .overlay {
  backdrop-filter: blur(2px); /* Optional for subtle effect */
}

.ads-banner h2 {
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: 60px;
}

/* Modifier classes for images */
.banner-1 {
  background-image: url('../public/ad-1-tour.svg');
}

.banner-2 {
  background-image: url('../public/ad-2-tour.svg');
  padding: 10rem 20px;
}
