.section-travel {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  font-family: var(--font-family);
  
}

.image-container .hero-image-2 {
    display: none;
    
  } 

@media (min-width: 1024px) {
  .section-travel {
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    
  }

  .image-container {
    display: grid;
    max-width: 1024px;


  }

  .image-container .hero-image-1 {
    width: 100%;
    
  }

  .review-badge {
    flex-direction: column;
  }

  .section-travel .text-content h1 {
    justify-content: center;
  }

  .section-travel .text-content p {
    max-width: 40rem;
  }
}

@media (max-width: 1023px) {
  
  .image-container {
    display: flex;
    max-width: 100%;
    justify-content: center;


  }

  .section-travel .buttons {
    justify-content: center;
  }

  .image-container .hero-image-1 {
    display: none;
    
  }
  
  .image-container .hero-image-2 {
    display: block;
    
  }

  .review-badge {
    flex-direction: row;
  }

  .section-travel .text-content {
    justify-content: center;
    text-align: center;
  }
  
  .section-travel .text-content h1 {
    justify-content: center;
  }
  
  .section-travel .text-content p {
    justify-content: center;
    max-width: none;
  }
}

/* Text column */
.section-travel .text-content {
  flex: 1;
  display: grid;
  margin: 10% 0;
  min-width: 500px;

}

.section-travel .text-content h1 {
  font-size: var(--font-h1);
  flex: 1;
  line-height: 1.2;
  color: var(--brand-blue); /* Blue */
  margin: 10px 0 30px;
}

.section-travel .text-content p {

  font-size: var(--font-p2);
  line-height: 1.5;
}

.section-travel .buttons {
  margin: 60px 0 0 0;
  display: flex;
  gap: 40px;
}



.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  /* display: block; */
  border-radius: 1.5rem;
}

/* Responsive badge */
.review-badge {
  position: absolute;
  bottom: 15%;
  left: 4%; 
  
  background: rgba(255, 255, 255, 0.677);
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(55px);
  display: flex;

  align-items: start;
  gap: 0.75rem;
  padding: 1.5vw;             
  width: auto;
  min-width: 50px;  

}


.review-badge .avatars {
  display: flex;
  margin-right: 0.5rem;
  opacity: 100%;
}

.review-badge .avatars img,
.review-badge .avatars .extra {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  border: 2px solid white;
  object-fit: cover;
  margin-left: -0.5rem;
}

.review-badge .extra {
  background: #e5e7eb;
  color: #374151;
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-anchor {
  text-decoration: none;
}

.review-anchor:hover, .review-anchor p:hover {
  color: var(--brand-blue);
  cursor: pointer;
}

.review-label {
  margin: 0;
  font-size: 1.25rem;
  color: var(--brand-black);
}

.review-badge .rating {
  color: var(--brand-yellow);
  font-weight: 600;
  font-size: 1.15rem;
  margin: 0;
}



/* Ads modifier */

/* Modifier classes for images */
.banner-1 {
  background-image: url('assets/0.5_Visa_Solutions_Assets/ad-1-tour.jpg');
}

.banner-2 {
  background-image: url('assets/0.5_Visa_Solutions_Assets/ad-2-tour.jpg');
  padding: 10rem 20px;
}

.testimonials-title h2 {
  font-weight: var(--font-bold);
}

.map-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 40px;
}

.map-section h2 {
  font-size: var(--font-h2);
  color: var(--brand-blue); /* Blue */
  font-weight: var(--font-medium);
  margin: 10px 0 30px;
}

.map-section img {
  width: 100%;
}
